html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.btn-primary {
    background-color: #b3003c !important;
    border-color: #b3003c !important;
}

.btn-success {
    background-color: #7FB77E !important;
    border-color: #7FB77E !important;
}

.btn-warning {
    background-color: #ededed !important;
    border-color: #ededed !important;
    color: #000 !important;
}

.btn-danger {
    background-color: #b3003c !important;
    border-color: #b3003c !important;
}

.btn-info {
    background-color: #D3D3D3 !important; /* grigio chiaro */
    border-color: #D3D3D3 !important;
    color: #000 !important; /* testo nero per leggibilità */
}

.pagination {
    justify-content: center !important;
}


/* Link normali */
.page-link {
    color: #4A4A4A; /* grigio scuro elegante */
    background-color: #F2F2F2; /* grigio chiarissimo */
    border: 1px solid #D0D0D0;
}

    /* Hover */
    .page-link:hover {
        background-color: #E6E6E6;
        color: #000;
    }

/* Pagina attiva */
.page-item.active .page-link {
    background-color: #b3003c; /* stesso blu tenue dei bottoni */
    border-color: #b3003c;
    color: #fff;
}

/* Disabilitato */
.page-item.disabled .page-link {
    background-color: #F7F7F7;
    color: #A0A0A0;
    border-color: #E0E0E0;
}
